[user]
    name = François Chapuis
    email = afnarel@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    cm = commit -m
    co = checkout
    di = diff
    br = branch
    me = merge
    st = status -s
    l = log --graph --all --date=relative\
        --pretty=format:'%C(cyan)%h%Creset %s %C(green)[%an/%cr]%Creset%C(red)%d%Creset'
    lol = log --oneline --graph --decorate
    unstage = reset HEAD
    last = log -1 HEAD
[core]
    editor = vim
[merge]
    tool = vimdiff

